<ion-header>
  <ion-toolbar>
    <ion-title>Categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="flex">
        <ion-card>
          <img src="../../assets/img/SANUYA.png" class="image" alt="">
          <p>yuuututut</p>
          
            <!-- <ion-item color="tertiary" lines="none">
                <ion-icon name="cafe" slot="start"></ion-icon>
                <ion-icon name="more" slot="end"></ion-icon>
            </ion-item>
            <ion-item color="tertiary" lines="none">
                <ion-label>
                    ion-item in a card,
                </ion-label>
            </ion-item> -->
        </ion-card>
        <ion-card>
          <img src="../../assets/img/SANUYA.png" class="image" alt="">
            <!-- <ion-item color="primary" lines="none">
                <ion-icon name="cafe" slot="start"></ion-icon>
                <ion-icon name="more" slot="end"></ion-icon>
            </ion-item>
            <ion-item color="primary" lines="none">
                <ion-label>
                    ion-item in a card,
                </ion-label>
            </ion-item> -->
        </ion-card>
        <ion-card>
          <img src="../../assets/img/SANUYA.png" class="image" alt="">
            <!-- <ion-item color="secondary" lines="none">
                <ion-icon name="cafe" slot="start"></ion-icon>
                <ion-icon name="more" slot="end"></ion-icon>
            </ion-item>
            <ion-item color="secondary" lines="none">
                <ion-label>
                    ion-item in a card,
                </ion-label>
            </ion-item> -->
        </ion-card>
        <ion-card>
          <img src="../../assets/img/SANUYA.png" class="image" alt="">
            <!-- <ion-item color="tertiary" lines="none">
                <ion-icon name="cafe" slot="start"></ion-icon>
                <ion-icon name="more" slot="end"></ion-icon>
            </ion-item>
            <ion-item color="tertiary" lines="none">
                <ion-label>
                    ion-item in a card,
                </ion-label>
            </ion-item> -->
        </ion-card>
        <ion-card>
          <img src="../../assets/img/SANUYA.png" class="image" alt="">
            <!-- <ion-item color="black" lines="none">
                <ion-icon name="cafe" slot="start"></ion-icon>
                <ion-icon name="more" slot="end"></ion-icon>
            </ion-item>
            <ion-item color="black" lines="none">
                <ion-label>
                    ion-item in a card,
                </ion-label>
            </ion-item> -->
        </ion-card>
        <ion-card>
          <img src="../../assets/img/SANUYA.png" class="image" alt="">
            <!-- <ion-item color="danger" lines="none">
                <ion-icon name="cafe" slot="start"></ion-icon>
                <ion-icon name="more" slot="end"></ion-icon>
            </ion-item>
            <ion-item color="black" lines="none">
                <ion-label>
                    ion-item in a card,
                </ion-label>
            </ion-item> -->
        </ion-card>
    </div>
</ion-content>
