.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ion-card{
    width: 46%;
    margin: 7px;
}
.image{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
}