img {
    width: 150px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_conn {
    height: 173px;
    margin-left: -40px;
    margin-top: -29px;
    width: 234px;
    object-fit: cover;
}

.mdp {
    --ion-background-color: #ece6e6;
}