<ion-content class="pss">
    <div class="img_conn" style="background-image: url('../../../assets/img/shapes.png')"></div>

    <div class="ion-text-center">
        <strong>
            <h5>Bienvenue sur SANUYA a nouveau</h5>
        </strong>
    </div>

    <div class="logo">
        <img src="assets/img/SANUYA.png" width="50px">
    </div>

    <form #loginForm="ngForm"  (ngSubmit)="onLogin(loginForm.value)">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Nom d'utilisateur</ion-label>
                <ion-input type="text" placeholder="Entrer votre login" name ="login" ngModel></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Mot de passe</ion-label>
                <ion-input color="#OcObOb" type="password" placeholder="Entrer votre mot de passe" name="password" ngModel></ion-input>
            </ion-item>
        </ion-list>

        <ion-item lines="none">
            <a color="black" fill="outline" routerLink="/oubliepass">Mot de passe oublié ?</a>
            <br>
        </ion-item>

        <ion-button type="submit" color="success" expand="block" shape="round" >Connexion</ion-button>

        <ion-item>
            <a color="success" expand="block" shape="round" routerLink="/registre">Vous n'avez pas de compte?,
                s'inscrire</a>
        </ion-item>
    </form>

</ion-content>