<ion-content class="home">
    <div class="img_conn" style="background-image: url('../../../assets/img/shapes.png')"></div>

    <div id=header>
        <img src="assets/img/SANUYA.png" width="50px">
    </div>
    <div class="ion-text-center">
    <strong>Gerez efficacement vos déchets</strong>
    </div>

    <p class="para">
        SANUY@ est tout au sujet de la gestion des dechets. Ici vous pourrez contacter vos fournisseurs les plus proches
    </p>
    <br>
    <ion-button color="success" expand="block" routerLink="/password">Commencer</ion-button>


</ion-content>